body {
  width: 100%;
  height: 100vh;
  background-color:#1f0e3a;
}

.cabecalho {
  background-color: #460fa0;
  display: flex;
  flex-direction: center;
  height: 140px;
  width: 100vw;
}

.cabecalho .botoes{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  gap: 10px;
}

.cabecalho .botoes .logo {
  width: 127px;
  height: 130px;
  padding-top:5px;
}

.cabecalho .botoes .links {
  width: 117px;
  height: 100px;
  top: 5px;
  left: 22px;
  border: none;
  border-radius: 3px;
  margin: 20px 0px 20px 0px;
}

.cabecalho .botoes button img {
  width: 90px;
  height: 70px;
  font-family: 'Jockey One', sans-serif;
}

main {
  background-image: url(../imagens/2.PAGE_2.png);
  width: 100vw;
  height: auto;
  background-size: cover;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 500px;
  padding-bottom: 30px;
}

.form .grupo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form .grupo label {
  font-family: 'Jockey One', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 67px;
  color: #f7f4f9;
}

.form .grupo input {
  width: 334px;
  height: 28px;
  border-radius: 2px;
  box-shadow: 0 0 0 0;
  outline: 0;
  border: none;
  margin-bottom: 15px;
}

.form .grupo a {
  font-family: 'Jockey One', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #fff;
  margin-bottom: 5px;
  text-decoration: none;
}

.form .grupo button {
  background-color: #460fa0;
  border: none;
  width: 240px;
  height: 50px;
  margin-top: 10px;
}

.form .grupo button a {
  color: #fff;
  font-family: 'Jockey One', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
}

.abrirConfirmar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.abrirConfirmar:target {
  opacity: 1;
  pointer-events: auto;
}

.abrirConfirmar > div {
  width: 400px;
  height: 200px;
  position: relative;
  margin: 10% auto;
  padding: 15px 20px;
  background: #fff;
}

.fechar {
  position: absolute;
  width: 30px;
  right: -15px;
  top: -20px;
  text-align: center;
  line-height: 30px;
  margin-top: 20px;
  margin-right: 20px;
  background: #ff4545;
  border-radius: 50%;
  font-size: 16px;
  color: #8d0000;
}