body {
  width: 100%;
  height: 100vh;
  background-color: #1f0e3a;
}

.cabecalho {
  background-color: #460fa0;
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.cabecalho .botoes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  gap: 10px;
}

.cabecalho .botoes .logo {
  width: 87px;
  height: 90px;
  padding-top: 5px;
}

.cabecalho .botoes a {
  background-color: #83519a;
  display: flex;
  flex-direction: row;

  text-decoration: none;
  width: 170px;
  height: 50px;
  margin-top: 25px;
  gap: 5px;
  border-radius: 10px;
}

.cabecalho .botoes a img {
  margin-left: 5px;
}

.cabecalho .botoes a p {
  margin-top: 2px;
  color: white;
  font-family: 'Jockey One';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
}

.cabecalho .botoes button img {
  width: 90px;
  height: 70px;
  font-family: 'Jockey One', sans-serif;
}

.corpo .noticias {
  margin: 0px auto;
  width: auto;
  height: 500px;
  border-radius: 3px;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1.7fr 1fr;
  gap: 1rem 2rem;
  padding: 1.2rem;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 10px -2px;
  transition: background-color 1s ease 0s;
}

.corpo .noticias .destaque {
  grid-area: 1 / 1 / 3 / 2;
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}

.corpo .noticias .destaque .div_destaque {
  background-size: cover;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
  border-radius: 3px;
  height: 100%;
  position: relative;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
}

.corpo .noticias .destaque .div_destaque:hover {
  background-color: rgba(245, 245, 245, 0.2);
}

.corpo .noticias .destaque .div_destaque .textos_destaques {
  position: absolute;
  bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1.6rem;
  margin-right: 2rem;
}

.corpo .noticias .destaque .div_destaque .textos_destaques span {
  margin-bottom: 1rem;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.66);
  color: white;
  text-transform: uppercase;
  font-family: Bold, sans-serif;
  font-size: 1.1rem;
  letter-spacing: 2px;
  border-bottom: 1px solid rgb(150, 73, 242);
  border-top-color: rgb(150, 73, 242);
  border-right-color: rgb(150, 73, 242);
  border-left-color: rgb(150, 73, 242);
}

.corpo .noticias .destaque .div_destaque .textos_destaques h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: white;
}

.corpo .noticias .secundaria {
  grid-column: 2 / 3; 
  grid-row: initial
}

.corpo .noticias .secundaria .div_secundaria {
  background-size: cover;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
  border-radius: 3px;
  height: 100%;
  position: relative;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
}

.corpo .noticias .secundaria .div_secundaria:hover {
  background-color: rgba(245, 245, 245, 0.2);
}

.corpo .noticias .secundaria .div_secundaria .texto_secundario {
  position: absolute;
  bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1.6rem;
  margin-right: 2rem;
}

.corpo .noticias .secundaria .div_secundaria .texto_secundario span {
  margin-bottom: 1rem;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.66);
  color: white;
  text-transform: uppercase;
  font-family: Gotham Bold sans-serif;
  font-size: 1rem;
  letter-spacing: 2px;
  border-bottom: 1px solid rgb(150, 73, 242);
  border-top-color: rgb(150, 73, 242);
  border-right-color: rgb(150, 73, 242);
  border-left-color: rgb(150, 73, 242);
}

.corpo .noticias .secundaria .div_secundaria .texto_secundario h3 {
  color: white;
  font-family: Gotham Black sans-serif;
  font-size: 1.5rem;
  line-height: 2.2rem;
}
 